(function () {

    "use strict";

    $('.content-menu').prepend('<a href = "javascript:void(0)" class = "menu-sidebar-drop">Menu <i class="fa fa-chevron-down pull-right" aria-hidden="true"></i><i class="fa fa-chevron-up pull-right" aria-hidden="true"></i></a>');

    $(document).ready(function() {
        $('.address_actions .action_edit a').html('<i class="fa fa-pencil" aria-hidden="true"></i>').attr({'data-toggle':'tooltip', 'data-placement':'bottom', 'title':'Edit'});
        $('.address_actions .action_delete a').html('<i class="fa fa-trash-o" aria-hidden="true"></i>').attr({'data-toggle':'tooltip', 'data-placement':'bottom', 'title':'Delete'});
        $('[data-toggle="tooltip"]').tooltip();

        $('.menu-sidebar-drop').click(function(){
            $(this).toggleClass('active');
            $('.content-menu .content-menu-wrap').slideToggle();
        });

        // Set menu header if on mobile
        setTimeout(function () {
            var menuItem = '';
            var tpl = '<i class="fa fa-chevron-down pull-right" aria-hidden="true"></i><i class="fa fa-chevron-up pull-right" aria-hidden="true"></i>';
            var titleEle = document.querySelector('.title');

            if (!titleEle)
                return;

            switch(titleEle.innerHTML.toLowerCase()) {
                case 'dashboard':
                    menuItem = document.querySelector('.dashboard-menu').innerHTML + tpl;
                    document.querySelector('.dashboard-menu').classList.add('active');
                break;
                case 'profile':
                    menuItem = document.querySelector('.profile-menu').innerHTML + tpl;
                    document.querySelector('.profile-menu').classList.add('active');
                break;
                case 'my orders':
                    menuItem = document.querySelector('.my-orders-menu').innerHTML + tpl;
                    document.querySelector('.my-orders-menu').classList.add('active');
                break;
                case 'my bottles':
                case 'my bottles / register':
                    menuItem = document.querySelector('.my-bottles-menu').innerHTML + tpl;
                    document.querySelector('.my-bottles-menu').classList.add('active');
                break;
                case 'rewards':
                    menuItem = document.querySelector('.rewards-menu').innerHTML + tpl;
                    document.querySelector('.rewards-menu').classList.add('active');
                break;
            }

            document.querySelector('.menu-sidebar-drop').innerHTML = menuItem;
        }, 1500);

        if($('.content-menu').length){
        $('.mm-page').addClass('font-resizer');
        }
    });
})();
