<div class="wh-title-area">
  <div class="whtitle-wrap text-center">
    <h1>{{ page.title }}</h1>
    <p>Thank you for your interest in the DYLN Living Water Bottle! <br>This page will guide you through our application process.
</p>
  </div>  
</div>  
<div class="page-width pading-top-25">
  {{ page.content }}
</div>

 